{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% set avatar_url = pages.find('/about').media.images|first.url ?: url('theme://dist/images/avatar.png') %}
{% import 'macros/dates.twig' as dates %}
<!DOCTYPE html>
<html class="no-js" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if header.title %}{{ header.title|e('html') }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.metadata.description }}">
  <link rel="shortcut icon" href="{{ url('theme://dist/images/favicon.ico') }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss.xml">

  {% block stylesheets %}
    {% do assets.addCss('theme://dist/styles/app.min.css',100) %}
  {% endblock %}
  {{ assets.css() }}

  {% block javascripts %}
      {% do assets.addJs('theme://bower_components/jquery/dist/jquery.min.js') %}
      {% do assets.addJs('theme://dist/scripts/main.min.js') %}
  {% endblock %}
  {{ assets.js() }}

  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,700,700i" rel="stylesheet">

</head>

<body class="{{ page.header.class }}--body">

  <nav>
    <div class="container nav--container">
      <div class="nav--row nav--logo">
        <img src="{{ url('theme://dist/images/nurse_logo.svg') }}" alt="Nurse Media logo">
      </div>
      <div class="nav--row nav--menu">
        <a href="#">this is a menu item</a>
      </div>
    </div>
  </nav>

  <header>
    <div class="container">
      {% include 'partials/header.html.twig' %}
    </div>
  </header>

  {% block content %}{% endblock %}

  {% if site.analytics %}
  {% include 'partials/analytics.html.twig' %}
  {% endif %}

</body>
</html>
