<nav>
  <div class="grid">

  <div class="nav__logo col--2">
    <a href="{{ base_url }}/" data-text="Nurse" data-slug="home">
      <img src="{{ url('theme://dist/images/nurse_logo.svg') }}" alt="Nurse Media logo" />
      <img src="{{ url('theme://dist/images/nurse_logo_white.svg') }}" alt="Nurse Media logo in white" />
    </a>
  </div>

  <div class="nav__main col--6">
    <a href="{{ base_url }}/" data-text="Work" data-slug="home">Work</a>
    <a href="{{ base_url }}/about" data-text="About" data-slug="about">About</a>
    <a href="{{ base_url }}/contact" data-text="Contact" data-slug="contact">Contact</a>
  </div>

  </div>
</nav>
