{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="grid">

    <div class="page__hero col--8">
      <h1>{{ page.header.tagline }}</h1>
    </div>

    <div class="about__desc col--6">
      {{ page.content }}
    </div>

    <div class="about__logo col--4">
      <img src="{{ url('theme://dist/images/nurse_logo.svg') }}" alt="Nurse Media logo" />
    </div>

    <div class="col--4">
      <h1>Our services</h1>
    </div>
    <section class="about__services col--8">
      <div class="col--6">
        <h2>Strategy</h2>
        <p>We explore your market, your mission, and your goals to discover the values that interplay to create your brand.</p>
        <ul>
          <li>Branding and positioning</li>
          <li>Market research</li>
          <li>Social strategy</li>
        </ul>
      </div>
      <div class="col--6">
        <h2>Content</h2>
        <p>By bridging your goals and your values with details about your customers, Nurse designs content that gets their attention.</p>
        <ul>
          <li>Copywriting</li>
          <li>Content strategy</li>
          <li>SEO-driven content</li>
        </ul>
      </div>
      <div class="col--6">
        <h2>Digital</h2>
        <p>Because no brand can exist without a digital footprint, we ensure that your efforts will be impactful and conversion-oriented.</p>
        <ul>
          <li>HTML/CSS/JS</li>
          <li>CMS administration</li>
          <li>Project management</li>
        </ul>
      </div>
      <div class="col--6">
        <h2>Marketing</h2>
        <p>After honing in your brand, your content, and your platform, you need to start the conversations that crate customers.</p>
        <ul>
          <li>Email marketing</li>
          <li>Social media marketing</li>
          <li>Marketing automation (HubSpot)</li>
        </ul>
      </div>
    </section>

    <div class="col--4">
      <h1>Our clients</h1>
      <p>We have been fortunate to work with some incredible brands.</p>
    </div>
    <section class="about__clients col--8">
        {% for image in page.media.images %}
        <div class="about__client">
          <img src="{{ image.url }}" alt="{{ image.alt }}"/>
        </div>
        {% endfor %}
    </section>

    <div class="col--4">
      <h1>Who Nurse is</h1>
      <p>We might be small, but, like the desert sun, we pack a punch.</p>
    </div>
    <section class="about__bio col--4">
      <ul>
        <li>Joel Hans</li>
        <li>Director</li>
        <li class="social--icon"><a href="//joelhans.com" title="500px"><svg viewBox="0 0 512 512"><path d="M256.3 293c26.9 31.2 58.3 58.5 99.9 58.5 56.1 0 89.5-42.6 89.5-96.8 0-54-34.1-94.2-89-94.2 -43.9 0-72.7 28.5-100.4 62.1 -28.5-34.1-56.7-62.1-101.4-62.1 -53.5 0-88.5 40.2-88.5 95.2 0 54.6 35.8 95.7 90.8 95.7C204.1 351.5 228.7 321.9 256.3 293zM115.5 256.8c0-21.3 13.9-44.5 39.3-44.5 26 0 52.7 25.9 70.4 45 -17.2 20.1-42.5 41.9-68.8 41.9C130.3 299.2 115.5 281.1 115.5 256.8zM287.3 257.3c18.4-19.9 41.2-45 68.3-45 26.4 0 41.4 20.8 41.4 44 0 23.4-13.7 43-39.8 43C329.2 299.2 305.7 278.5 287.3 257.3z"/></svg><!--[if lt IE 9]><em>500px</em><![endif]--></a></li>
        <li class="social--icon"><a href="https://twitter.com/joelhans" class="social--icon" title="Twitter"><svg viewBox="0 0 512 512"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/></svg><!--[if lt IE 9]><em>Twitter</em><![endif]--></a></li>
        <li class="social--icon"><a href="https://github.com/joelhans" class="social--icon" title="GitHub"><svg viewBox="0 0 512 512"><path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"/></svg><!--[if lt IE 9]><em>GitHub</em><![endif]--></a></li>
      </ul>
    </section>
    <section class="about__headshot col--4">
      <img src="{{ url('theme://dist/images/joel_hans.jpg') }}" alt="Headshot of Joel Hans" />
    </section>

  </div>

{% endblock %}
