{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="grid">

    <div class="page__hero front__hero col--8">
      <h1>{{ page.header.tagline }}arstarst</h1>
    </div>

    {% for i in page.collection() %}
    <section class="client client__{{ i.slug }} col--half" style="background-image: url({{ piece.media['client_bg.jpg'].url }})">

      <a href="#"></a>
      <div class="client__blocker"></div>

      <div class="client__name">
        <h1>{{ i.title }}</h1>
      </div>

      <div class="client__meta">
        {% for tag in i.taxonomy.tag %}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>

      <article class="client__content">
        {{ i.content }}
      </article>

    </section>
    {% endfor %}

  </div>

{% endblock %}
