{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="grid">

    <div class="page__hero front__hero col--8">
      <h1>{{ page.header.tagline }}</h1>
    </div>

    <ul class="front__featured">
    {% for i in page.collection() %}
      <li class="featured__item col--6">
        <figure>
          <img src="" />
          <figcaption>{{ i.content }}</figcaption>
        </figure>
        <h3>{{ i.title }}</h3>
        <p class="featured__item--meta">
          {% for tag in i.taxonomy.tag %}
            <span>{{ tag }}</span>
          {% endfor %}
        </p>
      </li>
    {% endfor %}
    </ul>

    {% for i in page.collection() %}
    <section class="client client__{{ i.slug }} col--6" style="background-image: url({{ piece.media['client_bg.jpg'].url }})">

      <a href="#"></a>
      <div class="client__blocker"></div>

      <div class="client__name">
        <h1>{{ i.title }}</h1>
      </div>

      <div class="client__meta">
        {% for tag in i.taxonomy.tag %}
          <span>{{ tag }}</span>
        {% endfor %}
      </div>

      <article class="client__content">
        {{ i.content }}
      </article>

    </section>
    {% endfor %}

  </div>

{% endblock %}
