{% extends 'partials/base.html.twig' %}

{% block content %}

  <div class="grid">

    <div class="col--12">
      {{ page.content }}
    </div>

    {% for client in page.collection() %}
  	<section class="client client__{{ client.slug }} col--6" style="background-image: url({{ client.media['client_bg.jpg'].url }})">

      <a href="#"></a>
  		<div class="client__blocker"></div>

      <div class="client__name">
        <h1>{{ client.title }}</h1>
      </div>

  		<div class="client__meta">
				{% for tag in client.taxonomy.tag %}
			    <span>{{ tag }}</span>
				{% endfor %}
  		</div>

  		<article class="client__content">
  			{{ client.content }}
  		</article>

  	</section>
    {% endfor %}

  </div>

{% endblock %}
